NEXT_PUBLIC_SUPABASE_URL=https://nqihvwmvejyhehhudhmg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xaWh2d212ZWp5aGVoaHVkaG1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwOTk1MTgsImV4cCI6MjA5ODY3NTUxOH0.kc8IjZPcU0h57MJhx08kFszaOdoYlrgSmLXo7jl_HzA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xaWh2d212ZWp5aGVoaHVkaG1nIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzA5OTUxOCwiZXhwIjoyMDk4Njc1NTE4fQ.qegp9gMimhSkanObMBlOgSSa7lNfXxxbsYM1yYPqeL4

NEXT_PUBLIC_APP_URL=http://localhost:3000
